/*-----------------HEADER-----------------*/

#flex_header{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
    text-align: center;
}

#flex_header img{
    text-align: left;
}

#flex_header ul li{
    display: inline;
    margin-right:40px;
}
#flex_header ul li a{
    color: #222328;
    font-size: 1.2em;
}
#flex_header ul li a:hover{
    color: #e789ac;
}
ul li a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}